stages:
  - build
  - test

build-image:
  stage: build
  image: docker:latest
  tags:
    - shell
  script:
    - docker build -t opendrift-container .
    - PYTHONPATH=. pytest tests
    - docker tag opendrift-container 10.142.47.233:80/fc/opendrift-container:latest
    - docker login 10.142.47.233:80 -u="$HARBOR_USER" -p="$HARBOR_PASSWORD"
    - docker push 10.142.47.233:80/fc/opendrift-container:latest

test-container:
  stage: test
  image: docker:latest
  tags:
    - shell
  script:
    - docker run opendrift-container python main.py input_test.json
